@font-face {
	font-family: 'Thahoma';
	src: url('../fonts/Tahoma.ttf');
}

body{
	background: url('../img/bg.png');
}

.clearfix:after {
	content		: '.';
	visibility	: hidden;
	display		: block;
	height		: 0;
	clear		: both;
}

.wrapper{
	position: relative;
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
	width: 1000px;
	margin: 0 auto;
	margin-top: -15px;
	background-color: white;
}

.h-container{
	position: relative;
	width: 1000px;
	height: 467px;
}

.logo{
	position: absolute;
	top: 65px;
	left: 30px;
  float: left;
	display: block;
}

.logo-txt{
	position: absolute;
	z-index: 1;
	top: 90px;
	left: 60px;
	width: 130px;
	height: 11px;
	color: #128aa7;
	font-family: 'Tahoma', sans-serif;
	font-size: 12px;
	font-weight: 400;
	display: block;
}

.rpos {
	position: absolute;
	right: 20px;
	top: 65px;
	display: block;
}

.contacts{
	color: #128aa7;
	font-family: 'Tahoma', sans-serif;
	font-size: 12px;
	font-weight: 400;
	line-height: 14px;
}

.countries{
	position: absolute;
	top: 164px;
	right: 36px;
	height: 20px;
	width: 400px;
}

.countries li{
	float: right;
	width: 40px;
	margin-left: 16px;
	list-style: none;
	text-align: center;
}

.countries li a{
	color: #128aa7;
	margin-top: -2px;
	text-align: center;
	font-family: 'Tahoma', sans-serif;
	font-size: 10px;
	font-weight: 400;
}

.main-img{
	position: absolute;
	bottom: 0;
	margin-top: 20px;
	margin-left: -88px;
	display: block;
}

.nav-bar {
	width: 1000px;
	height: 34px;
	color: white;
	background-color: #363636;
	margin-bottom: 20px;
	margin-top: -5px;
}

span{
	font-size: 10px;
}

.nav-bar ul {
	display: block;
	margin: 0;
	padding: 0;
	list-style: none;
}
.nav-bar ul:after {
	display: block;
	content: '';
	clear: both;
	float: none;
}
.nav-bar ul.menu > li {
	width: 130px;
	float: left;
	position: relative;
}
ul.menu > li > a {
	display: block;
	padding: 10px;
	color: white;
	font-family: 'Tahoma', sans-serif;
	font-size: 13px;
	background-color: #363636;
	text-align: center;
	text-decoration: none;
}
ul.ddl {
	display: none;
	position: absolute;
	z-index: 1;
	width: 150px;
	top: 34px;
	left: 0;
	background-color: #303030;
	margin: 0;
	padding: 0;
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.75);
}
ul.ddl > li {
	display: block;
}
ul.ddl > li > a {
	display: block;
	padding: 10px;
	color: white;
	text-decoration: none;
}
ul.ddl > li > a:hover {
	text-decoration: underline;
}
ul.menu > li:hover > ul.ddl {
	display: block;
}

.container3 {
	float: left;
	width: 100%;
	background: lightgray;
	overflow: hidden;
	margin-top: -20px;
	position: relative;
}

.container2 {
	float: left;
	width: 100%;
	background: white;
	position: relative;
	right: 21%;
	border: 1px solid darkgrey;
}

.container1 {
	float:left;
	width:100%;
	background: lightgray;
	position: relative;
	right: 58%;
	border: 1px solid darkgrey;
}

.info-block {
	float: left;
	width: 26%;
	position: relative;
	left: 76%;
	overflow: hidden;
}

.info-block h1{
	padding-left: 75px;
	line-height: 30px;
	font-size: 16px;
	font-family: 'Tahoma', sans-serif;
	font-weight: 800;
	color: #424c43;
}

.info-block p{
	padding-left: 50px;
	line-height: 24px;
	font-size: 14px;
	font-family: 'Tahoma', sans-serif;
	color: #424c43;
}

.info-block p:first-child{
	margin-top: 20px;
}

.info-block p:last-child {
	margin-bottom: 10px;
}

.center-col {
	content: '';
	float: left;
	width: 36%;
	position: relative;
	left: 76%;
	overflow: hidden;
}

.news-block {
	float: left;
	width: 26%;
	position: relative;
	left: 93%;
	overflow: hidden;
}

.news-block h1{
	padding-left: 95px;
	line-height: 30px;
	font-size: 16px;
	font-family: 'Tahoma', sans-serif;
	font-weight: 800;
	color: #424c43;
}

.news-block p{
	padding-left: 50px;
	line-height: 24px;
	font-size: 14px;
	font-family: 'Tahoma', sans-serif;
	color: #424c43;
}

.news-block p:first-child {
	margin-top: 20px;
}

.news-block p:last-child {
	margin-bottom: 10px;
}

.footer {
	height: 50px;
	opacity: 0.8;
	color: white;
	font-family: 'Tahoma', sans-serif;
	font-size: 12px;
	font-weight: 400;
	width: 250px;
	margin: 0 auto;
	padding-top: 50px;
}