body{
	background: url("../img/bg.png");
}

.clearfix:after {
	content		: ".";
	visibility	: hidden;
	display		: block;
	height		: 0;
	clear		: both;
}

.wrapper{
	position: relative;
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
	width: 1000px;
	margin: 0 auto;
	margin-top: -15px;
	background-color: white;
}

.h-container{
	position: relative;
	width: 1000px;
	height: 120px;
	margin-bottom: 70px;
}

.logo{
	position: absolute;
	top: 20px;
	left: 30px;
  float: left;
	display: block;
}

.logo-txt{
	position: absolute;
	z-index: 1;
	top: 75px;
	left: 60px;
	width: 130px;
	height: 11px;
	color: #128aa7;
	font-family: 'Tahoma', sans-serif;
	font-size: 12px;
	font-weight: 400;
	display: block;
}

.rpos {
	position: absolute;
	right: 20px;
	top: 10px;
	display: block;
}

.contacts{
	color: #128aa7;
	font-family: 'Tahoma', sans-serif;
	font-size: 12px;
	font-weight: 400;
	line-height: 14px;
}

.countries{
	position: absolute;
	bottom: 0;
	right: 40px;
	height: 20px;
	width: 800px;
}

.countries li{
	float: right;
	width: 40px;
	padding-left: 20px;
	list-style: none;
}

.countries li a{
	color: #128aa7;
	text-align: center;
	font-family: 'Tahoma', sans-serif;
	font-size: 10px;
	font-weight: 400;
}

.main-img{
	margin-left: -1px;
	margin-bottom: -5px;
	display: block;
}

.nav-bar{
	margin: 0 auto;
	width: 1000px;
	height: 34px;
	color: white;
	font-size: 14px;
	background: url('../img/panel.png');
}

.nav-bar ul {
	display: block;
	margin: 0;
	padding: 0;
	list-style: none;
}

.nav-bar ul:after {
	display: block;
	content: ' ';
	clear: both;
	float: none;
}

ul.menu > li {
	float: left;
	position: relative;
}

ul.menu > li > a {
	display: block;
	height: 34px;
	padding: 10px;
	color: white;
	text-decoration: none;
}

ul.menu > li > a:hover {
	height: 34px;
}

ul.ddl {
	display: none;
	background: url('../img/dropdown-layer.png');
	position: absolute;
	width: 120px;
	top: 34px;
	left: 0;
	border: 1px solid;
}

ul.ddl > li {
	display: block;
}

ul.ddl > li > a {
	display: block;
	padding: 10px;
	color: white;
	text-decoration: none;
	color: white;
}

ul.ddl > li > a:hover {
	text-decoration: underline;
}

ul.menu > li:hover > ul.ddl {
	display: block;
}

.container3 {
	float:left;
	width:100%;
	background:lightgray;
	overflow:hidden;
	margin-top: -20px;
	position:relative;
}

.container2 {
	float:left;
	width:100%;
	background:white;
	position:relative;
	right:30%;
}

.container1 {
	float:left;
	width:100%;
	background:lightgray;
	position:relative;
	right:40%;
}

.info-block {
	float:left;
	width: 26%;
	position:relative;
	left: 72%;
	overflow:hidden;
}

.info-block p{
	padding-left: 50px;
	line-height: 24px;
	font-size: 14px;
	font-family: 'Tahoma' sans-serif;
	color: #424c43;
}

.info-block p:first-child{
	margin-top: 20px;
}

.info-block p:last-child {
	margin-bottom: 20px;
}

.center-col {
	content: '';
	float:left;
	width:36%;
	position:relative;
	left:76%;
	overflow:hidden;
}

.news-block {
	float:left;
	width:26%;
	position:relative;
	left:80%;
	overflow:hidden;
}

.news-block p{
	padding-left: 50px;
	line-height: 24px;
	font-size: 14px;
	font-family: 'Tahoma' sans-serif;
	color: #424c43;
}

.news-block p:first-child {
	margin-top: 20px;
}

.news-block p:last-child {
	margin-bottom: 20px;
}

.footer {
	height: 12px;
	opacity: 0.8;
	color: white;
	font-family: 'Tahoma', sans-serif;
	font-size: 12px;
	font-weight: 400;
	width: 250px;
	margin: 0 auto;
}